{% extends 'base.html.twig' %}

{% block title %}Le Coin Pop - Nous contacter{% endblock %}

{% block content %}
<br>
    <h1>Mon compte</h1> 
    <p>Bienvenue {{ app.user.firstname }} dans votre espace personnelle</p>
    <hr>
<div class="row">
    <div class="col-md-6">
        <div class="account-item text-center">
            <img src="{{asset('assets/img/password.png')}}"><br><br>
            <a href="{{ path('account_password')}}">Modifier mon mot de passe</a><br>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
      <div class="col-md-6">
        <div class="account-item text-center">
            <img src="{{asset('assets/img/security.png')}}"><br><br>
            <a href="/admin">Administrateur backoffice</a> <br>
        </div>
      </div>
    {% endif %}
</div>

    <p class="mb-3 mt-3 p-5 bouton-deco">Pour se déconnecter c'est ici :&nbsp; <a class="btn btn-sm btn-outline-danger" href="{{ path('app_logout') }}"> Déconnexion</a></p>
    <div style="display: flex; justify-content: center;"><img src="{{ asset('assets/img/toystory.jpg')}}" style="width: 250px;"/></div>

{% endblock %}
